* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #007561;
  --bg-color: #EDE9D0;
  --second-bg-color: #cacaca6b;
  --btn-color: #F07C57;
  ---light-color: #FFFEF5;
  --load-time: .8s;
}

h1 {
  font-family: "Insaniburger";
  font-size: 81px;
}

section {
  margin-top: 3em;
}

h2,
span {
  font-family: "Insaniburger";
}

span {
  color: var(--primary-color);
}

.bg-color {
  background: #EDE9D0;
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 3px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  background-color: rgba(199, 60, 60, 0);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.3em;
}

.button-52:after {
  content: "";
  background-color: var(--btn-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
header {
  z-index: 999;
  overflow: hidden;
}

.navbar-brand {
  -webkit-animation: navbar-brand;
          animation: navbar-brand;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translateX(-200%);
  opacity: 0;
}

@-webkit-keyframes navbar-brand {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navbar-brand {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu-nav {
  -webkit-animation: menu-nav;
          animation: menu-nav;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes menu-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-user {
  -webkit-animation: nav-user;
          animation: nav-user;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translateX(300%);
  opacity: 0;
}

@-webkit-keyframes nav-user {
  0% {
    opacity: 0;
    transform: translateX(300%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes nav-user {
  0% {
    opacity: 0;
    transform: translateX(300%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.navigation {
  background-color: var(--primary-color);
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.44);
}
.navigation a {
  color: var(--bg-color);
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
.navigation .link:hover {
  color: var(--btn-color);
}
.navigation .link:focus {
  color: var(--btn-color);
  font-weight: 700;
}
.navigation .active-page {
  color: var(--btn-color);
}

.hero-section {
  overflow: hidden;
  height: 85vh;
  position: relative;
  background: linear-gradient(180deg, #007561 0%, rgba(0, 117, 97, 0) 96.31%);
}

.text-hero {
  width: 735px;
  z-index: 2;
}

.background-img {
  margin-top: 2em;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.background-img img {
  max-width: 80em;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateX(-20%);
}

.text-center-div {
  text-align: center;
  width: 20em;
}

.arrow {
  height: 2em;
  -webkit-animation: arrow 900ms linear infinite;
          animation: arrow 900ms linear infinite;
}

@-webkit-keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 850px) {
  .background-img img {
    transform: translateX(0);
  }
}
.partner-section {
  -webkit-animation: partner-loading 2s forwards;
          animation: partner-loading 2s forwards;
}
.partner-section .container p {
  font-size: 1em;
  color: #726C6C;
}
.partner-section .container .partner img {
  width: 5em;
}

@-webkit-keyframes partner-loading {
  from {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
            clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes partner-loading {
  from {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
            clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
@media (min-width: 1200px) {
  .partner-section .container .partner img {
    width: 8em;
  }
}
.committed-section {
  overflow: hidden;
}
.committed-section p {
  margin-top: 2em;
  font-size: 1.2em;
}
.committed-section .carousel-inner {
  height: 40em;
}
.committed-section img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial {
  overflow: hidden;
}
.testimonial .card-testimonial {
  background-color: var(---light-color);
  filter: drop-shadow(0px -1px 3px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  padding: 2em;
  max-width: 60em;
  min-width: 25em;
}
.testimonial .card-testimonial h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
.testimonial .card-testimonial address {
  font-size: 15px;
  margin: 0;
  color: #838383;
}
.testimonial .card-testimonial p {
  font-size: 15px;
}
.testimonial .card-testimonial ul {
  list-style: none;
}
.testimonial .person img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.testimonial .person .user-profile {
  width: 100%;
}
.testimonial .person .user-profile .star ul {
  display: flex;
  color: rgb(218, 218, 0);
  gap: 5px;
  margin: 0;
  padding: 0;
}

.testimonial-section .container-testimonial {
  overflow: hidden;
  width: 100%;
}

.testimonial {
  position: relative;
  padding: 2em;
  display: flex;
  width: 350%;
  gap: 2em;
  -webkit-animation: 50s testimonial-slide infinite;
          animation: 50s testimonial-slide infinite;
}

@-webkit-keyframes testimonial-slide {
  0% {
    left: 0;
  }
  25% {
    left: -50%;
  }
  25% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes testimonial-slide {
  0% {
    left: 0;
  }
  25% {
    left: -50%;
  }
  25% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.learn-more-section {
  overflow: hidden;
}
.learn-more-section .div-vid {
  width: 100%;
  height: 30em;
  overflow: hidden;
  position: relative;
}
.learn-more-section video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  z-index: -2;
}

.div-vid:hover .learn {
  opacity: 1;
  transition: 0.6s all;
  transform: translateY(0);
}

.div-vid:hover video {
  transform: scale(3);
  transition: 0.6s all;
}

.learn {
  opacity: 0;
  transform: translateY(5em);
}
.learn h2 {
  font-size: 3em;
  color: var(--primary-color);
}
.learn .button-1 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 15px 13px;
  outline: 0;
  border: 3px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  background-color: rgba(199, 60, 60, 0);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.3em;
}
.learn .button-1:after {
  content: "";
  background-color: rgba(240, 125, 87, 0.8823529412);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 9px;
  left: 7px;
  transition: 0.2s;
}
.learn .button-1:hover:after {
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .learn .button-1 {
    padding: 13px 50px 13px;
  }
}

.franchising-section {
  overflow: hidden;
  border-top: 10px solid var(--primary-color);
  padding-top: 2em;
}
.franchising-section .franchising-img {
  width: 50%;
  min-width: 25em;
}
.franchising-section img {
  width: 100%;
}
.franchising-section .text {
  width: 30em;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper .icon {
  position: relative;
  background: var(--bg-color);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before,
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before,
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: var(--btn-color);
  color: #ffffff;
}

.message-section {
  overflow: hidden;
}
.message-section ol {
  z-index: 9999;
}
.message-section ol li:nth-child(1) {
  list-style-image: url("/assets/ep_location-information.svg");
}
.message-section ol li:nth-child(2) {
  list-style-image: url("/assets/entypo_email.svg");
}
.message-section ol li:nth-child(3) {
  list-style-image: url("/assets/akar-icons_phone.svg");
}
.message-section .message {
  gap: 2em;
}
.message-section .socal {
  margin-top: 2em;
}
.message-section ul {
  margin: 0;
  padding: 0;
}
.message-section .message-us {
  color: var(---light-color);
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}
.message-section .contact-info {
  padding: 2em 1em;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 10px 16px 19px rgba(0, 0, 0, 0.44);
  border-radius: 27px;
  z-index: 2;
}
.message-section .contact-info h4 {
  font-family: "Insaniburger";
  color: var(---light-color);
  font-size: 2em;
  margin-bottom: 1em;
}
.message-section .contact-info ol {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}
.message-section .contact-info ol li {
  padding-left: 1em;
}
.message-section .contact-info a {
  color: var(---light-color);
  text-decoration: none;
}
.message-section .form-message {
  padding: 3em 1em;
  z-index: 1;
  border: 2px solid var(--primary-color);
  background-color: var(---light-color);
  border-radius: 27px;
  width: 100%;
  box-shadow: 16px 30px 29px rgba(0, 0, 0, 0.47);
}
.message-section .form-message h4 {
  font-size: 2em;
  font-family: "Insaniburger";
  color: var(--primary-color);
}
.message-section .divide {
  gap: 1em;
}
.message-section .form-control-input {
  padding: 0.5em 0;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--primary-color);
}
.message-section .form-label {
  font-size: 16px;
  margin: 1em 0 0 0;
  color: var(--primary-color);
}
.message-section .message-box {
  margin-top: 2em;
  height: 10em;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--primary-color);
}

@media (min-width: 768px) {
  .message {
    flex-direction: column;
  }
  .contact-info {
    width: 417px;
    padding: 3em 1em;
  }
}
@media (min-width: 1400px) {
  .message-section {
    height: 40em;
  }
  .message {
    position: relative;
  }
  .contact-info {
    position: absolute;
    max-width: 417px;
    top: 2em;
  }
  .form-message {
    position: absolute;
    max-width: 1124px;
    right: 0;
  }
  .form-message .main-form {
    padding: 0 3em 0 17em;
  }
}
.subscribe-section {
  overflow: hidden;
  background-color: var(--second-bg-color);
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-section form {
  max-width: 40em;
  margin: auto;
  height: 60px;
  position: relative;
}
.subscribe-section h2 {
  margin-bottom: 1em;
}
.subscribe-section input[type=email] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
}
.subscribe-section input[type=submit] {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  transition: 0.3s ease-in-out;
}
.subscribe-section input[type=email] {
  box-shadow: 6px 9px 0px #F07C57;
  transition: 0.3s ease-in-out;
}
.subscribe-section input[type=email]::-moz-placeholder {
  text-shadow: none;
}
.subscribe-section input[type=email]:-ms-input-placeholder {
  text-shadow: none;
}
.subscribe-section input[type=email]::placeholder {
  text-shadow: none;
}
.subscribe-section input[type=email] {
  background-color: var(---light-color);
  border: 2px solid var(--primary-color);
  color: #59546A;
}
.subscribe-section input[type=submit] {
  position: absolute;
  height: 100%;
  width: 10em;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: 700;
}
.subscribe-section input[type=email]:focus {
  background-color: var(--bg-color);
  color: var(--primary-color);
  box-shadow: 0px 0px 0px #F07C57;
  transition: 0.3s all;
}
.subscribe-section input[type=email]::-moz-placeholder {
  color: var(--primary-color);
}
.subscribe-section input[type=email]:-ms-input-placeholder {
  color: var(--primary-color);
}
.subscribe-section input[type=email]::placeholder {
  color: var(--primary-color);
}

footer {
  overflow: hidden;
  height: 30em;
  background-color: var(--primary-color);
  padding: 5em 0 1em 0;
}
footer ul, footer li, footer a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
footer a {
  color: var(--bg-color);
  font-size: 15px;
}
footer a:hover {
  color: var(--btn-color);
}
footer h3 {
  font-size: 20px;
  color: var(--bg-color);
  margin-bottom: 1em;
}
footer img {
  width: 60px;
}
footer p {
  color: var(--bg-color);
}

@media (min-width: 992px) {
  footer {
    height: auto;
    padding-top: 4em;
  }
  footer h3 {
    font-size: 2em;
  }
  footer img {
    width: 90px;
  }
  footer .center {
    margin-right: 2em;
  }
}
.chat-icon {
  border: none;
  background-color: var(--primary-color);
  padding: 1em;
  width: 77px;
  height: 77px;
  border-radius: 1.5em;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.chat {
  display: none;
  border-radius: 36px;
  overflow: hidden;
  width: 25em;
  background-color: var(---light-color);
  box-shadow: 12px 14px 33px rgba(0, 0, 0, 0.41);
}
.chat .chat-head {
  position: relative;
  background-color: var(--primary-color);
  padding: 1em;
  color: var(---light-color);
  text-align: center;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chat .chat-head h5 {
  margin: 0;
  font-size: 1.4em;
}
.chat .chat-head .exit {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 2em;
  top: 1.2em;
  cursor: pointer;
  color: var(---light-color);
}
.chat .main-chat {
  margin-top: 2em;
}
.chat .main-chat .chat-user {
  display: flex;
  align-items: center;
  gap: 1em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.chat .main-chat .chat-user .chat-message {
  background-color: var(--bg-color);
  padding: 1em;
  border-radius: 1.2em;
}
.chat .main-chat .user {
  margin-top: 1.3em;
  justify-content: end;
}
.chat .main-chat .user .user-message {
  background-color: var(--primary-color);
  color: var(---light-color);
}
.chat ul, .chat li, .chat a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.chat .list-messgae {
  border-top: 2px solid var(--primary-color);
  margin-top: 1em;
  padding-top: 1em;
  display: flex;
  justify-content: end;
}
.chat ul {
  display: flex;
  justify-content: end;
  gap: 0.3em;
  flex-wrap: wrap;
}
.chat ul li {
  border: 1px solid var(--primary-color);
  padding: 3px 1.7em;
  border-radius: 1.5em;
  transition: 0.3s ease-in-out;
}
.chat ul li a {
  color: var(--primary-color);
}
.chat .content {
  padding: 1em 2em;
}

li:hover {
  background-color: var(--primary-color);
  color: var(---light-color);
  transition: 0.3s all;
}

li:hover .sms {
  color: var(---light-color);
  transition: 0.3s all;
}

.message-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
  position: fixed;
  right: 0;
  bottom: 20px;
  margin-right: 2em;
  z-index: 999;
}

@media (min-width: 855px) {
  .chat {
    width: 35em;
  }
  .message-flex {
    flex-direction: row;
  }
}
.click-log-in {
  display: none;
}

.log-in-fix {
  display: none;
  position: fixed;
  background-color: rgba(114, 108, 108, 0.7215686275);
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in {
  position: relative;
  border-top: 10px solid var(--primary-color);
  z-index: 9999;
  width: 100%;
  max-width: 30em;
  background-color: #FFFEF5;
  box-shadow: 12px 14px 33px rgba(0, 0, 0, 0.41);
  padding: 2em;
  border-radius: 12px;
}
.log-in ul, .log-in li, .log-in a, .log-in p, .log-in h5 {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.log-in .create-link {
  color: var(--primary-color);
}
.log-in .link {
  color: #726C6C;
  font-size: 1.8em;
}
.log-in .link:hover {
  color: var(--primary-color);
}
.log-in .forget {
  display: block;
  text-align: end;
}
.log-in .close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
}
.log-in .close-btn:hover {
  color: red;
  border: 1px solid red;
}
.log-in #submit-login {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 10px 2em;
  font-weight: 700;
}
.log-in form {
  margin-top: 3em;
}
.log-in .create {
  margin-top: 2em;
  padding: 1em 0;
  border-top: 1px solid var(--primary-color);
}
.log-in #email-error, .log-in #pasword-error {
  color: red;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */