* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #007561;
    --bg-color: #EDE9D0;
    --second-bg-color: #cacaca6b;
    --btn-color: #F07C57;
    ---light-color: #FFFEF5;
    --load-time: .8s;
}

h1 {
    font-family: 'Insaniburger';
    font-size: 81px;
    color: var(---light-color);
}
section {
    padding-bottom: 8em;
}
h2,
span {
    font-family: 'Insaniburger';
    
}

span {
    color: var(--primary-color);
}

.bg-color {
    background: #EDE9D0;
}
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 3px solid var(--primary-color);
    cursor: pointer;
    position: relative;
    background-color: rgba(199, 60, 60, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.3em;
}

.button-52:after {
    content: "";
    background-color: var(--btn-color);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}

// navigation
header {
    z-index: 999;
    overflow: hidden;
}

.navbar-brand  {
    animation: navbar-brand;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    transform: translateX(-200%);
    opacity: 0;
}

@keyframes navbar-brand {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform:  translateX(0);
        opacity: 1;
    }
}
.menu-nav {
    animation: menu-nav;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes menu-nav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-user {
    animation: nav-user;
    animation-duration: .8s;
    animation-timing-function: ease-in;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    transform: translateX(300%);
    opacity: 0;
}
@keyframes nav-user {
    0% {
        opacity: 0;
        transform: translateX(300%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
// end loading


.navigation {
    background-color: var(--primary-color);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.44);


    a {
        color: var(--bg-color);
        cursor: pointer;
        list-style: none;
        text-decoration: none;
    }

    .link:hover {
        color: var(--btn-color);
        
    }

    .link:focus {
        color: var(--btn-color);
        font-weight: 700;
    }
    .active-page  {
        color: var(--btn-color) ;
    }

}
// end navigation


// hero 
.hero-section {
    overflow: hidden;
    height: 90vh;
    padding-bottom: 4em;
    position: relative;
    background: linear-gradient(180deg, #007561 0%, rgba(0, 117, 97, 0) 96.31%);
}


.text-hero {
    width: 735px;
    z-index: 2;
}
.background-img {
    
    margin-top: 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    img {
        max-width: 80em;
        height: 100%;
        object-fit: contain;
        transform: translateX(-20%);
    }
}
.text-center-div {
    text-align: center;
    width: 20em;
}
.arrow {
    height: 2em;
    animation: arrow 900ms linear infinite;
}
@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}
@media (min-width: 850px) {
    .background-img {
        img {
            transform: translateX(0);
        }
    }

}
// end hero 

// partner section
.partner-section {
    border-top: 2px solid var(--primary-color);
    padding-top: 3em;
    animation: partner-loading 2s forwards;

    .container {
        p {
            font-size: 1em;
            color: #726C6C;
        }

        .partner {
            img {
                width: 5em;
            }
        }
    }
}
@keyframes partner-loading {
    from {
        clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
    }
    to {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}
@media (min-width: 1200px) {
    .partner-section {
        .container {
            .partner {
                img {
                    width: 8em;
                }
            }
        }
    }
}
// end partner

.committed-section {
    overflow: hidden;
    p {
        margin-top: 2em;
        font-size: 1.2em;
    }
    .carousel-inner {
        height: 40em;
    }
    img {
        height: 100%;
        object-fit: cover;
    }
}
// testimonial
.testimonial {
    overflow: hidden;
    .card-testimonial {
        background-color: var(---light-color);
        filter: drop-shadow(0px -1px 3px rgba(0, 0, 0, 0.25));
        border-radius: 20px;
        padding: 2em;
        max-width: 60em;
        min-width: 25em;

        h3 {
            font-size: 25px;
            font-weight: 700;
            margin: 0;
        }

        address {
            font-size: 15px;
            margin: 0;
            color: #838383;
        }

        p {
            font-size: 15px;
        }

        ul {
            list-style: none;
        }
    }

    .person {
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }

        .user-profile {
            width: 100%;

            .star {

                ul {
                    display: flex;
                    color: rgb(218, 218, 0);
                    gap: 5px;
                    margin: 0;
                    padding: 0;
                }
            }
        }

    }

}

.testimonial-section {
    .container-testimonial {
        width: 100%;
    }
}

.testimonial {
    overflow: auto;
    position: relative;
    padding: 2em;
    display: flex;
    // width: 350%;
    // background-color: #00643C;
    gap: 1em;
    // animation: 50s testimonial-slide infinite;
}

// @keyframes testimonial-slide {
//     0% {
//         left: 0;
//     }

//     25% {
//         left: -50%;
//     }

//     25% {
//         left: -100%;
//     }

//     100% {
//         left: 0;
//     }
// }
// learn-more
.learn-more-section {
    
    overflow: hidden;
    .div-vid {
        width: 100%;
        height: 30em;
        overflow: hidden;
        position: relative;
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: .5s ease-in-out;
        z-index: -2;
    }
}


.div-vid:hover .learn {
    opacity: 1;
    transition: .6s all;
    transform: translateY(0);
}


.div-vid:hover video {
    transform: scale(3);
    transition: .6s all;
}


.learn {
    opacity: 0;
    transform: translateY(5em);
    h2 {
        font-size: 3em;
        color: var(--primary-color);

    }

    .button-1 {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 15px 13px;
        outline: 0;
        border: 3px solid var(--primary-color);
        cursor: pointer;
        position: relative;
        background-color: rgba(199, 60, 60, 0);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-weight: 700;
        color: var(--primary-color);
        font-size: 1.3em;
    }

    .button-1:after {
        content: "";
        background-color: #f07d57e1;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 9px;
        left: 7px;
        transition: 0.2s;
    }

    .button-1:hover:after {
        top: 0px;
        left: 0px;
    }

    @media (min-width: 768px) {
        .button-1 {
            padding: 13px 50px 13px;
        }
    }

}


// learn-more end

// franchising-section
.franchising-section {
    overflow: hidden;
    border-top: 10px solid var(--primary-color);
    padding-top: 2em;
    h2 {
        font-size: 2.2em;
    }
    p {
        font-size: 1.3em;
        margin-top: 2em;
    }
    .franchising-img {
        width: 50%;
        min-width: 25em;
    }

    img {
        width: 100%;
    }

    .text {
        width: 30em;
    }

}

// icon
.wrapper {
    display: inline-flex;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.wrapper .icon {
    position: relative;
    background: var(--bg-color);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before,
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before,
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: var(--btn-color);
    color: #ffffff;
}

// end icon

// message section
.message-section {
    overflow: hidden;
    ol {
        z-index: 9999;
    }

    ol li:nth-child(1) {
        list-style-image: url('/assets/ep_location-information.svg');
    }

    ol li:nth-child(2) {
        list-style-image: url('/assets/entypo_email.svg');
    }

    ol li:nth-child(3) {
        list-style-image: url('/assets/akar-icons_phone.svg');
    }

    .message {
        gap: 2em;
    }

    .socal {
        margin-top: 2em;
    }
    ul {
        margin: 0;
        padding: 0;
    }

    .message-us {
        color: var(---light-color);
        font-size: .8em;
        text-align: center;
        margin: 0;
    }


    .contact-info {
        padding: 2em 1em;
        width: 100%;
        background-color: var(--primary-color);
        box-shadow: 10px 16px 19px rgba(0, 0, 0, 0.44);
        border-radius: 27px;
        z-index: 2;

        h4 {
            font-family: 'Insaniburger';
            color: var(---light-color);
            font-size: 2em;
            margin-bottom: 1em;
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: center;
            align-items: flex-start;

            li {
                padding-left: 1em;
            }
        }

        a {
            color: var(---light-color);
            text-decoration: none;
        }

    }

    // form
    .form-message {
        padding: 3em 1em;
        z-index: 1;
        border: 2px solid var(--primary-color);
        background-color: var(---light-color);
        border-radius: 27px;
        width: 100%;
        box-shadow: 16px 30px 29px rgba(0, 0, 0, 0.47);

        h4 {
            font-size: 2em;
            font-family: 'Insaniburger';
            color: var(--primary-color);
        }
    }

    .divide {
        gap: 1em;

    }

    .form-control-input {
        padding: .5em 0;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid var(--primary-color);
    }

    .form-label {
        font-size: 16px;
        margin: 1em 0 0 0;
        color: var(--primary-color);
    }

    .message-box {
        margin-top: 2em;
        height: 10em;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid var(--primary-color);
    }
}

@media (min-width: 768px) {
    .message {
        flex-direction: column;
    }

    .contact-info {
        width: 417px;
        padding: 3em 1em;
    }
}


@media (min-width: 1400px) {
    .message-section {
        height: 40em;
    }

    .message {
        position: relative;
    }

    .contact-info {
        position: absolute;
        max-width: 417px;
        top: 2em;
    }

    .form-message {
        position: absolute;
        max-width: 1124px;
        right: 0;

        .main-form {
            padding: 0 3em 0 17em;
        }
    }
}
// end message section

// Subscribe
.subscribe-section {
    overflow: hidden;
    background-color: var(--second-bg-color);
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        max-width: 40em;
        margin: auto;
        height: 60px;
        position: relative;
    }
    h2 {
        margin-bottom: 1em;
    }

    input[type="email"] {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 45px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
    }

    input[type="submit"] {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom-right-radius: 45px;
        border-top-right-radius: 45px;
        transition: .3s ease-in-out;
    }
    input[type="email"]  {
        box-shadow: (6px 9px 0px #F07C57);
        transition: .3s ease-in-out;
        
    }
    input[type="email"]::placeholder {
        text-shadow: none;
    }

    input[type="email"] {
        background-color: var(---light-color);
        border: 2px solid var(--primary-color);
        color: #59546A;
    }

    input[type="submit"] {
        position: absolute;
        height: 100%;
        width: 10em;
        top: 0;
        right: 0;
        background-color: var(--primary-color);
        border: none;
        color: white;
        font-weight: 700;
        
    }

    input[type="email"]:focus {
        background-color: var(--bg-color);
        color: var(--primary-color);
        box-shadow: (0px 0px 0px #F07C57);
        transition: .3s all;

    }
    input[type="email"]::placeholder {
        color: var(--primary-color);
    }
}
// End Subscribe

// footer
footer {
    overflow: hidden;
    height: 30em;
    background-color: var(--primary-color);
    padding: 5em 0 1em 0;
    
    ul,li, a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        
    }
    a {
        color: var(--bg-color);
        font-size: 15px;
    }
    a:hover {
        color: var(--btn-color);
    }
    h3 {
        font-size: 20px;
        color: var(--bg-color);
        margin-bottom: 1em;
    }
    img {
        width: 60px;
    }
    p {
        color: var(--bg-color);
    }

}

@media (min-width: 992px) {
    footer{
        height: auto;
        padding-top: 4em;
        h3 {
            font-size: 2em;
        }
        img {
            width: 90px;
        }
        .center {
            margin-right: 2em;
        }
    }

}

// end footer

.chat-icon {
    border: none;
    background-color: var(--primary-color);
    padding: 1em;
    width: 77px;
    height: 77px;
    border-radius: 1.5em;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.chat {
    display: none;
    border-radius: 36px;
    overflow: hidden;
    width: 25em;
    background-color: var(---light-color);
    box-shadow: 12px 14px 33px rgba(0, 0, 0, 0.41);
    .chat-head {
        position: relative;
        background-color: var(--primary-color);
        padding: 1em;
        color: var(---light-color);
        text-align: center;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        h5 {
            margin: 0;
            font-size: 1.4em;
        }
        .exit {
            position: absolute;
            background-color: transparent;
            border: none;
            right: 2em;
            top: 1.2em;
            cursor: pointer;
            color: var(---light-color);
        }
    }
    .main-chat {
        margin-top: 2em;
        .chat-user {
            display: flex;
            align-items: center;
            gap: 1em;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            .chat-message {
                background-color: var(--bg-color);
                padding: 1em;
                border-radius: 1.2em;
            }
        }
        .user {
            margin-top: 1.3em;
            justify-content: end;
            .user-message  {
                background-color: var(--primary-color);
                color: var(---light-color);
            }
        }
    }
    ul,li,a {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .list-messgae {
        border-top: 2px solid var(--primary-color);
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        justify-content: end;
    }
    ul {
        display: flex;
        justify-content: end;
        gap: .3em;
        flex-wrap: wrap;
        li {
            border: 1px solid var(--primary-color);
            padding: 3px 1.7em;
            border-radius: 1.5em;
            transition: .3s ease-in-out;
            a {
                color: var(--primary-color);
            }
        }
    }
    .content {
        padding: 1em 2em; 
    }
}

li:hover {
    background-color: var(--primary-color);
    color: var(---light-color);
    transition: .3s all;
}
li:hover .sms {
    color: var(---light-color);
    transition: .3s all;
}
.message-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    position: fixed;
    right: 0;
    bottom: 20px;
    margin-right: 2em;
    z-index: 999;
}

@media (min-width: 855px) {
    .chat {
        width: 35em;
    }
    .message-flex  {
        flex-direction: row;
    }
}


// log in
.click-log-in {
    display: none;
}

.log-in-fix {
    display: none;
    position: fixed;
    background-color: #726c6cb8;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in  {
    position: relative;
    border-top: 10px solid var(--primary-color);
    z-index: 9999;
    width: 100%;
    max-width: 30em;
    background-color: #FFFEF5;
    box-shadow: 12px 14px 33px rgba(0, 0, 0, 0.41);
    padding: 2em;
    border-radius: 12px;

    ul,li, a , p, h5 {
        list-style: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    } 
    .create-link {
        color: var(--primary-color);
    }
    .link {
        color: #726C6C;
        font-size: 1.8em;
    }
    .link:hover {
        color: var(--primary-color);
    }
    .forget {
        display: block;
        text-align: end;
    }
    .close-btn {
        position: absolute;
        right: 20px;
        top: 10px;
        color: var(--primary-color);
        background-color: transparent;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        height: 35px;
        width: 35px;
        text-align: center;
    }
    .close-btn:hover {
        color: red;
        border: 1px solid red;
    }

    #submit-login {
        background-color: var(--primary-color);
        border: none;
        color: #fff;
        padding: 10px 2em ;
        font-weight: 700;
    }
    form {
        margin-top: 3em;
    }
    .create {
        margin-top: 2em;
        padding: 1em 0;
        border-top: 1px solid var(--primary-color);
    }
    #email-error,#pasword-error {
        color: red;
        font-size: 14px;
    }
}
// log in