* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --primary-color: #007561;
    --bg-color: #EDE9D0;
    --second-bg-color: #cacaca6b;
    --btn-color: #F07C57;
    ---light-color: #FFFEF5;
    --load-time: .8s;
}

h1 {
    font-family: 'Insaniburger';
    font-size: 81px;
}
section {
    margin-top: 3em;
}
h2,
h4,
span {
    font-family: 'Insaniburger';
    color: var(--primary-color);
    
}

span {
    color: var(--primary-color);
}

.bg-color {
    background: #EDE9D0;
}
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 3px solid var(--primary-color);
    cursor: pointer;
    position: relative;
    background-color: rgba(199, 60, 60, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.3em;
}

.button-52:after {
    content: "";
    background-color: var(--btn-color);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}

// icon
.wrapper {
    display: inline-flex;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.wrapper .icon {
    position: relative;
    background: var(--bg-color);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before,
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before,
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: var(--btn-color);
    color: #ffffff;
}

// navigation

// loading
header {
    z-index: 999;
    overflow: hidden;
}

.navbar-brand  {
    animation: navbar-brand;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    transform: translateX(-200%);
    opacity: 0;
}

@keyframes navbar-brand {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform:  translateX(0);
        opacity: 1;
    }
}
.menu-nav {
    animation: menu-nav;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes menu-nav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-user {
    animation: nav-user;
    animation-duration: .8s;
    animation-timing-function: ease-in;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    transform: translateX(300%);
    opacity: 0;
}
@keyframes nav-user {
    0% {
        opacity: 0;
        transform: translateX(300%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
// end loading


.navigation {
    background-color: var(--primary-color);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.44);


    a {
        color: var(--bg-color);
        cursor: pointer;
        list-style: none;
        text-decoration: none;
    }

    .link:hover {
        color: var(--btn-color);
        
    }

    .link:focus {
        color: var(--btn-color);
        font-weight: 700;
    }
    .active-page  {
        color: var(--btn-color) ;
    }

}


// end navigation

.event-section {
    margin-bottom: 2em;
    h2 {
        font-size: 3em;
        border-bottom: 3px solid var(--primary-color);
        margin-bottom: 1em;
    }
}
.main-article {
    border: 3px solid transparent;
    padding: 1em;
    border-radius: 1em;
    transition: .3s ease-in-out;
    .head-img {
        position: relative;
        width: 100%;
        overflow: hidden;
        .top-img {
            width: 100%;
            height: 25em;
            object-fit: cover;
        }
        p {
            color: var(---light-color);
        }
    }
    .day {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 117, 97, 0.77);
        padding: 1em;
        opacity: 0;
        transform: translateY(30%);
        transition: .3s ease-in-out;
    }
    .description {
        padding-top: 2em;
        .text {
            h3 {
                font-size: 23px;
            }
            p {
                color: #6C6C6C;
                font-size: 14px;
            }
        }
    }


    .profile {
        border-top: 1px solid #6C6C6C;
        padding-top: 1em;
        margin-top: 1em;
    }
    p {
        margin: 0;
        padding: 0;
    }
}

.main-article:hover {
    border: 3px solid var(--primary-color);
    transition: .3s all;
}
.main-article:hover .day {
    opacity: 1;
    transform: translateY(0);
    transition: .3s all;
}

// footer
footer {
    height: 30em;
    background-color: var(--primary-color);
    padding: 5em 0 1em 0;
    
    ul,li, a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        
    }
    a {
        color: var(--bg-color);
        font-size: 15px;
    }
    a:hover {
        color: var(--btn-color);
    }
    h3 {
        font-size: 20px;
        color: var(--bg-color);
        margin-bottom: 1em;
    }
    img {
        width: 60px;
    }
    p {
        color: var(--bg-color);
    }

}

@media (min-width: 992px) {
    footer{
        height: auto;
        padding-top: 4em;
        h3 {
            font-size: 2em;
        }
        img {
            width: 90px;
        }
        .center {
            margin-right: 2em;
        }
    }

}

// end footer

.chat-icon {
    border: none;
    background-color: var(--primary-color);
    padding: 1em;
    width: 77px;
    height: 77px;
    border-radius: 1.5em;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.chat {
    display: none;
    border-radius: 36px;
    overflow: hidden;
    width: 25em;
    background-color: var(---light-color);
    box-shadow: 12px 14px 33px rgba(0, 0, 0, 0.41);
    .chat-head {
        position: relative;
        background-color: var(--primary-color);
        padding: 1em;
        color: var(---light-color);
        text-align: center;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        h5 {
            margin: 0;
            font-size: 1.4em;
        }
        .exit {
            position: absolute;
            background-color: transparent;
            border: none;
            right: 2em;
            top: 1.2em;
            cursor: pointer;
            color: var(---light-color);
        }
    }
    .main-chat {
        margin-top: 2em;
        .chat-user {
            display: flex;
            align-items: center;
            gap: 1em;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            .chat-message {
                background-color: var(--bg-color);
                padding: 1em;
                border-radius: 1.2em;
            }
        }
        .user {
            margin-top: 1.3em;
            justify-content: end;
            .user-message  {
                background-color: var(--primary-color);
                color: var(---light-color);
            }
        }
    }
    ul,li,a {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .list-messgae {
        border-top: 2px solid var(--primary-color);
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        justify-content: end;
    }
    ul {
        display: flex;
        justify-content: end;
        gap: .3em;
        flex-wrap: wrap;
        li {
            border: 1px solid var(--primary-color);
            padding: 3px 1.7em;
            border-radius: 1.5em;
            transition: .3s ease-in-out;
            a {
                color: var(--primary-color);
            }
        }
    }
    .content {
        padding: 1em 2em; 
    }
}

li:hover {
    background-color: var(--primary-color);
    color: var(---light-color);
    transition: .3s all;
}
li:hover .sms {
    color: var(---light-color);
    transition: .3s all;
}
.message-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    position: fixed;
    right: 0;
    bottom: 20px;
    margin-right: 2em;
    z-index: 999;
}

@media (min-width: 855px) {
    .chat {
        width: 35em;
    }
    .message-flex  {
        flex-direction: row;
    }
}


// log in
.click-log-in {
    display: none;
}

.log-in-fix {
    display: none;
    position: fixed;
    background-color: #726c6cb8;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in  {
    position: relative;
    border-top: 10px solid var(--primary-color);
    z-index: 9999;
    width: 100%;
    max-width: 30em;
    background-color: #FFFEF5;
    box-shadow: 12px 14px 33px rgba(0, 0, 0, 0.41);
    padding: 2em;
    border-radius: 12px;

    ul,li, a , p, h5 {
        list-style: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    } 
    .create-link {
        color: var(--primary-color);
    }
    .link {
        color: #726C6C;
        font-size: 1.8em;
    }
    .link:hover {
        color: var(--primary-color);
    }
    .forget {
        display: block;
        text-align: end;
    }
    .close-btn {
        position: absolute;
        right: 20px;
        top: 10px;
        color: var(--primary-color);
        background-color: transparent;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        height: 35px;
        width: 35px;
        text-align: center;
    }
    .close-btn:hover {
        color: red;
        border: 1px solid red;
    }

    #submit-login {
        background-color: var(--primary-color);
        border: none;
        color: #fff;
        padding: 10px 2em ;
        font-weight: 700;
    }
    form {
        margin-top: 3em;
    }
    .create {
        margin-top: 2em;
        padding: 1em 0;
        border-top: 1px solid var(--primary-color);
    }
    #email-error,#pasword-error {
        color: red;
        font-size: 14px;
    }
}
// log in