* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #00643C;
    --bg-color: #EDE9D0;
    --second-bg-color: #cacaca6b;
    --btn-color: #F07C57;
    ---light-color: #FFFEF5;
    --load-time: .8s;
}

h1 {
    font-family: 'Insaniburger';
    font-size: 81px;
}
section {
    margin-top: 3em;
}
h2,
span {
    font-family: 'Insaniburger';
    
}

span {
    color: var(--primary-color);
}

.bg-color {
    background: #EDE9D0;
}
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 3px solid var(--primary-color);
    cursor: pointer;
    position: relative;
    background-color: rgba(199, 60, 60, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.3em;
}

.button-52:after {
    content: "";
    background-color: var(--btn-color);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}

// navigation

// loading
header {
    z-index: 999;
    overflow: hidden;
    animation: header-load var(--load-time) ease-in;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.44);
}
@keyframes header-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.navbar-brand  {
    animation: navbar-brand;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    transform: translateX(-200%);
    opacity: 0;
}

@keyframes navbar-brand {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform:  translateX(0);
        opacity: 1;
    }
}
.menu-nav {
    animation: menu-nav;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes menu-nav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-user {
    animation: nav-user;
    animation-duration: .8s;
    animation-timing-function: ease-in;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    transform: translateX(300%);
    opacity: 0;
}
@keyframes nav-user {
    0% {
        opacity: 0;
        transform: translateX(300%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
// end loading


.navigation {
    background-color: var(--primary-color);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.44);


    a {
        color: var(--bg-color);
        cursor: pointer;
        list-style: none;
        text-decoration: none;
    }

    .link:hover {
        color: var(--btn-color);
        
    }

    .link:focus {
        color: var(--btn-color);
        font-weight: 700;
    }
    .active-page  {
        color: var(--btn-color) ;
    }

}
// end navigation
.oreder-section {
    button {
        border: none;
        background-color: transparent;
    }
    h3,p {
        margin: 0;
        padding: 0;
    }
}
.bg-order {
    background-color: var(---light-color);
    border-radius: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 50em;
    padding: 1em;
    
    table {
        width: 100%;
    }   
    th,td {
        padding: 10px;
        
        
    }
    th {
        font-size: 14px;
        font-weight: 300;
        text-align: center; 
    }
    h3 {
        font-size: .8em;
        font-weight: 700;
    }

    .product-img {
        background-color: var(--btn-color);
        border-radius: 18px;
        height: 100%;
        min-width: 5em;
        max-width: 10em;
        padding: .5em;
    }
    .size {
        font-size: 13px;
        samp {
            color: var(--primary-color);
            font-weight: 700;
        }
    }
    img {
        width: 100%;
        object-fit: contain;
    }

    .qty {
        font-weight: 700;
        font-size: 1.3em;
    }
    .prize {
        font-weight: 700;
    }
    .total {
        color: var(--primary-color);
    }
}
@media (min-width: 700px) {
    .bg-order{ 
        h3 {
            font-size: 1.2em;
        }
        .size {
            font-size: 15px;
            samp {
                color: var(--primary-color);
                font-weight: 700;
            }
        }
    }

}


.delivery {
    .inside {
        background-color: var(---light-color);
        width: 100%;
        padding: 1em 3em;
        border-radius: 20px;
        cursor: pointer;
    }
    h3,h4 {
        font-weight: 700;
    }
    p {
        color: #7D7D7D;
        font-size: .8em;
    }
    button {
        border: 2px solid var(--primary-color);
        
        width: 35px;
        height: 35px;
        padding: 2px;
        border-radius: 50%;
        font-size: 20px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        color: var(--primary-color);
        text-align: center;
    }
}





// footer
footer {
    height: 30em;
    background-color: var(--primary-color);
    padding: 5em 0 1em 0;
    
    ul,li, a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        
    }
    a {
        color: var(--bg-color);
        font-size: 15px;
    }
    a:hover {
        color: var(--btn-color);
    }
    h3 {
        font-size: 20px;
        color: var(--bg-color);
        margin-bottom: 1em;
    }
    img {
        width: 60px;
    }
    p {
        color: var(--bg-color);
    }

}

@media (min-width: 992px) {
    footer{
        height: auto;
        padding-top: 4em;
        h3 {
            font-size: 2em;
        }
        img {
            width: 90px;
        }
        .center {
            margin-right: 2em;
        }
    }

}

// end footer

.chat-icon {
    border: none;
    background-color: var(--primary-color);
    padding: 1em;
    width: 77px;
    height: 77px;
    border-radius: 1.5em;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.chat {
    display: none;
    border-radius: 36px;
    overflow: hidden;
    width: 25em;
    background-color: var(---light-color);
    box-shadow: 12px 14px 33px rgba(0, 0, 0, 0.41);
    .chat-head {
        position: relative;
        background-color: var(--primary-color);
        padding: 1em;
        color: var(---light-color);
        text-align: center;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        h5 {
            margin: 0;
            font-size: 1.4em;
        }
        .exit {
            position: absolute;
            background-color: transparent;
            border: none;
            right: 2em;
            top: 1.2em;
            cursor: pointer;
            color: var(---light-color);
        }
    }
    .main-chat {
        margin-top: 2em;
        .chat-user {
            display: flex;
            align-items: center;
            gap: 1em;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            .chat-message {
                background-color: var(--bg-color);
                padding: 1em;
                border-radius: 1.2em;
            }
        }
        .user {
            margin-top: 1.3em;
            justify-content: end;
            .user-message  {
                background-color: var(--primary-color);
                color: var(---light-color);
            }
        }
    }
    ul,li,a {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .list-messgae {
        border-top: 2px solid var(--primary-color);
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        justify-content: end;
    }
    ul {
        display: flex;
        justify-content: end;
        gap: .3em;
        flex-wrap: wrap;
        li {
            border: 1px solid var(--primary-color);
            padding: 3px 1.7em;
            border-radius: 1.5em;
            transition: .3s ease-in-out;
            a {
                color: var(--primary-color);
            }
        }
    }
    .content {
        padding: 1em 2em; 
    }
}

li:hover {
    background-color: var(--primary-color);
    color: var(---light-color);
    transition: .3s all;
}
li:hover .sms {
    color: var(---light-color);
    transition: .3s all;
}
.message-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    position: fixed;
    right: 0;
    bottom: 20px;
    margin-right: 2em;
    z-index: 999;
}

@media (min-width: 855px) {
    .chat {
        width: 35em;
    }
    .message-flex  {
        flex-direction: row;
    }
}
